Repository fmukhlis/nextjs-dashboard, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, api, lib, tests, assets, ci, config

.github/labeler.yml:

frontend:
  - changed-files:
      - any-glob-to-any-file:
          ["app/**", "components/**", "style/**", "!app/api/**"]

api:
  - changed-files:
      - any-glob-to-any-file: ["app/api/**"]

lib:
  - changed-files:
      - any-glob-to-any-file: ["lib/**"]

tests:
  - changed-files:
      - any-glob-to-any-file:
          ["**/*.test.{js,jsx,ts,tsx}", "**/__snapshots__/**"]

assets:
  - changed-files:
      - any-glob-to-any-file: ["public/**"]

ci:
  - changed-files:
      - any-glob-to-any-file: [".github/**"]

config:
  - changed-files:
      - any-glob-to-any-file: ["**/*.config.{js,ts,mjs}", "**/*rc.{js,ts}"]

feature:
  - head-branch: ["^feature"]

staging:
  - base-branch: ["develop"]

release:
  - base-branch: ["main"]

fix: escape braces chars in Jest config file
  jest.config.ts
Labels: frontend, config

style: define shimmer keyframes in global.css
  app/globals.css
Labels: frontend

refactor: rename definitions.ts to global.d.ts, cleanup and temporarily comment out unused code
  lib/data.ts
  lib/utils.ts
  types/global.d.ts
Labels: frontend, lib

test: add tests for data.ts and utils.ts
  lib/__tests__/data.test.ts
  lib/__tests__/utils.test.ts
Labels: frontend, lib, tests

style: adjust shimmer animation speed
  components/placeholders/skeletons.tsx
Labels: frontend

feat: rename Dashboard to DashboardOverview
  app/dashboard/(overview)/(async)/page.tsx
  app/dashboard/(overview)/__tests__/__snapshots__/DashboardOverviewLoading.test.tsx.snap
  components/dashboard/(async)/cards.tsx
  components/dashboard/(async)/latest-invoices.tsx
  components/dashboard/(async)/revenue-chart.tsx
Labels: frontend, tests

chore: update .env template
  .env.example
Labels: frontend

ci: add env variable in build job
  .github/workflows/ci.yml
Labels: frontend, ci

chore: uncomment all commented out utility functions
  lib/utils.ts
Labels: frontend, lib

chore: uncomment fetchFilteredInvoices() function in data.ts
  lib/data.ts
Labels: frontend, lib

chore: add starter file
  app/dashboard/invoices/page.tsx
  components/dashboard/invoices/buttons.tsx
  components/dashboard/invoices/pagination.tsx
  components/dashboard/invoices/status.tsx
  components/dashboard/invoices/table.tsx
  components/search.tsx
Labels: frontend

feat: update URL search param on input change
  components/search.tsx
Labels: frontend

feat: run query only when pressing enter instead of on every keystroke
  components/search.tsx
Labels: frontend

feat: add InvoicesTable component to InvoicesPage
  app/dashboard/invoices/page.tsx
Labels: frontend

fix: adjust skeleton styles to match final content size
  components/dashboard/invoices/buttons.tsx
Labels: frontend

feat: implement Pagination logic and enable starter code
  components/dashboard/invoices/pagination.tsx
Labels: frontend

feat: add PaginationSkeleton component in skeletons.tsx
  components/placeholders/skeletons.tsx
Labels: frontend

feat: add Pagination to InvoicesPage
  app/dashboard/invoices/page.tsx
  lib/data.ts
Labels: frontend, lib

feat: reset page number to 1 when user submits a new search query
  components/search.tsx
Labels: frontend

feat: add placeholder table row to prevent layout shift
  components/dashboard/invoices/table.tsx
Labels: frontend

refactor: remove async from DashboardOverviewPage
  app/dashboard/(overview)/page.tsx
Labels: frontend

chore: remove loading fallback from DashboardOverview
  app/dashboard/(overview)/__tests__/DashboardOverviewLoading.test.tsx
  app/dashboard/(overview)/__tests__/__snapshots__/DashboardOverviewLoading.test.tsx.snap
  app/dashboard/(overview)/loading.tsx
Labels: frontend, tests

chore: configure moduleNameMapper in Jest
  jest.config.ts
Labels: frontend, config

chore: add mock for async server component
  components/dashboard/(async)/__mocks__/cards.tsx
  components/dashboard/(async)/__mocks__/latest-invoices.tsx
  components/dashboard/(async)/__mocks__/revenue-chart.tsx
Labels: frontend

chore: remove async from mocked RevenueChart
  components/dashboard/(async)/__mocks__/revenue-chart.tsx
Labels: frontend

test: add tests for DashboardOverviewPage
  app/dashboard/(overview)/__tests__/DashboardOverviewPage.test.tsx
  app/dashboard/(overview)/__tests__/__snapshots__/DashboardOverviewPage.test.tsx.snap
Labels: frontend, tests

refactor: split PaginationServer from InvoicesPage
  app/dashboard/invoices/page.tsx
  components/dashboard/invoices/(async)/pagination-server.tsx
Labels: frontend

chore: move InvoicesTable component into (async) directory
  components/dashboard/invoices/(async)/table.tsx
Labels: frontend

chore: rename Homepage to HomePage for consistency
  app/__tests__/HomePage.test.tsx
  app/__tests__/__snapshots__/HomePage.test.tsx.snap
Labels: frontend, tests

chore: add mock for async server components
  components/dashboard/invoices/(async)/__mocks__/pagination-server.tsx
  components/dashboard/invoices/(async)/__mocks__/table.tsx
Labels: frontend

fix: change InvoicesPage into async server component
  app/dashboard/invoices/(async)/page.tsx
Labels: frontend

chore: add @testing-library/user-event
  package-lock.json
  package.json
Labels: frontend

test: add tests for Search component
  components/__tests__/search.test.tsx
Labels: frontend, tests

chore: remove console.error
  lib/data.ts
Labels: frontend, lib

test: add tests for fetchFilteredInvoices() and fetchInvoicesPages()
  lib/__tests__/data.test.ts
Labels: frontend, lib, tests

refactor: update generatePagination logic
  lib/utils.ts
Labels: frontend, lib

style: adjust pagination skeleton size
  components/placeholders/skeletons.tsx
Labels: frontend

fix: remove extra comma in generatePagination
  lib/utils.ts
Labels: frontend, lib

test: add tests for utils.ts
  lib/__tests__/utils.test.ts
Labels: frontend, lib, tests

fix: add sr-only text to icon-only links
  components/dashboard/invoices/buttons.tsx
Labels: frontend
