Repository fmukhlis/nextjs-dashboard, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, api, lib, tests, assets, ci, config

.github/labeler.yml:

frontend:
  - changed-files:
      - any-glob-to-any-file:
          ["app/**", "components/**", "style/**", "!app/api/**"]

api:
  - changed-files:
      - any-glob-to-any-file: ["app/api/**"]

lib:
  - changed-files:
      - any-glob-to-any-file: ["lib/**"]

tests:
  - changed-files:
      - any-glob-to-any-file:
          ["**/*.test.{js,jsx,ts,tsx}", "**/__snapshots__/**"]

assets:
  - changed-files:
      - any-glob-to-any-file: ["public/**"]

ci:
  - changed-files:
      - any-glob-to-any-file: [".github/**"]

config:
  - changed-files:
      - any-glob-to-any-file: ["**/*.config.{js,ts,mjs}", "**/*rc.{js,ts}"]

feature:
  - head-branch: ["^feature"]

staging:
  - base-branch: ["develop"]

release:
  - base-branch: ["main"]

test: add tests for buttons.tsx
  components/dashboard/invoices/__tests__/buttons.test.tsx
Labels: frontend, tests

refactor: convert status prop to 'pending' | 'paid'
  components/dashboard/invoices/status.tsx
Labels: frontend

test: add tests for status.tsx
  components/dashboard/invoices/__tests__/status.test.tsx
Labels: frontend, tests

fix: add sr-only text to icon-only link
  components/dashboard/invoices/pagination.tsx
Labels: frontend

test: add tests for pagination.tsx
  components/dashboard/invoices/__tests__/pagination.test.tsx
Labels: frontend, tests

chore: install storybook
  .gitignore
  .storybook/main.ts
  .storybook/preview.ts
  .storybook/vitest.setup.ts
  eslint.config.mjs
  package-lock.json
  package.json
  postcss.config.mjs
  stories/Button.stories.ts
  stories/Button.tsx
  stories/Configure.mdx
  stories/Header.stories.ts
  stories/Header.tsx
  stories/Page.stories.ts
  stories/Page.tsx
  stories/assets/accessibility.png
  stories/assets/accessibility.svg
  stories/assets/addon-library.png
  stories/assets/assets.png
  stories/assets/avif-test-image.avif
  stories/assets/context.png
  stories/assets/discord.svg
  stories/assets/docs.png
  stories/assets/figma-plugin.png
  stories/assets/github.svg
  stories/assets/share.png
  stories/assets/styling.png
  stories/assets/testing.png
  stories/assets/theming.png
  stories/assets/tutorials.svg
  stories/assets/youtube.svg
  stories/button.css
  stories/header.css
  stories/page.css
  vitest.config.ts
  vitest.shims.d.ts
Labels: frontend, config

chore: integrate tailwind with storybook
  .storybook/main.ts
  .storybook/preview.ts
  app/globals.css
  package-lock.json
  package.json
Labels: frontend

chore: update jest coverage settings
  jest.config.ts
Labels: frontend, config

chore: format files with prettier
  eslint.config.mjs
  stories/Configure.mdx
  stories/button.css
  stories/header.css
  stories/page.css
Labels: frontend, config

chore: setup Mock Service Worker
  .storybook/preview.ts
  package-lock.json
  package.json
  public/mockServiceWorker.js
Labels: frontend, assets

chore: format package.json with prettier
  package.json
Labels: frontend

chore: setup storybook test runner
  package-lock.json
  package.json
Labels: frontend

chore: uninstall storybook test-runner
  package-lock.json
  package.json
Labels: frontend

chore: add stories path
  .storybook/main.ts
Labels: frontend

refactor: rename search.tsx to search-invoice.tsx and remove placeholder prop
  app/dashboard/invoices/(async)/page.tsx
  components/__tests__/search.test.tsx
  components/dashboard/invoices/search-invoice.tsx
  types/global.d.ts
Labels: frontend, tests

test: add stories for search-invoice.tsx
  components/dashboard/invoices/stories/search-invoice.stories.ts
Labels: frontend

chore: setup vitest for stories coverage
  .storybook/main.ts
  package.json
  vitest.config.ts
Labels: frontend, config

chore: expose Storybook port in compose.yaml
  compose.dev.yaml
Labels: frontend

chore: use named volume for node_modules
  compose.dev.yaml
Labels: frontend

chore: format compose.yaml with prettier
  compose.dev.yaml
Labels: frontend

chore: install Playwright Chromium with system deps
  Dockerfile
Labels: frontend

style: adjust invoice button styles
  components/dashboard/invoices/buttons.tsx
Labels: frontend

chore: update test config
  .gitignore
  .prettierignore
  jest.config.ts
  vitest.config.ts
Labels: frontend, config

test: remove jest tests for components
  app/__tests__/HomePage.test.tsx
  app/__tests__/RootLayout.test.tsx
  app/__tests__/__snapshots__/HomePage.test.tsx.snap
  app/dashboard/(overview)/__tests__/DashboardOverviewPage.test.tsx
  app/dashboard/(overview)/__tests__/__snapshots__/DashboardOverviewPage.test.tsx.snap
  app/dashboard/__tests__/DashboardLayout.test.tsx
  app/dashboard/__tests__/__snapshots__/DashboardLayout.test.tsx.snap
  components/__tests__/acme-logo.test.tsx
  components/dashboard/__tests__/nav-links.test.tsx
  components/dashboard/__tests__/sidenav.test.tsx
  components/dashboard/invoices/__tests__/buttons.test.tsx
  components/dashboard/invoices/__tests__/pagination.test.tsx
  components/dashboard/invoices/__tests__/status.test.tsx
  data/__tests__/card.test.ts
  data/__tests__/invoices.test.ts
  data/__tests__/revenue.test.ts
Labels: frontend, tests

refactor: split data.ts into card.ts, invoices.ts and revenue.ts
  data/card-dto.ts
  data/card.ts
  data/invoices-dto.ts
  data/invoices.ts
  data/revenue-dto.ts
  data/revenue.ts
  lib/__tests__/data.test.ts
  lib/__tests__/utils.test.ts
  lib/data.ts
  lib/db.ts
Labels: frontend, lib, tests

refactor: split skeletons into their respective components
  components/dashboard/invoices/skeletons.tsx
  components/dashboard/skeletons.tsx
Labels: frontend

refactor: reorganize project file & folder structure
  app/dashboard/(overview)/page.tsx
  app/dashboard/invoices/(async)/page.tsx
  app/dashboard/layout.tsx
  app/page.tsx
  components/dashboard/(async)/cards.tsx
  components/dashboard/(async)/latest-invoices.tsx
  components/dashboard/(async)/revenue-chart.tsx
  components/dashboard/invoices/(async)/pagination-server.tsx
  components/dashboard/invoices/(async)/table.tsx
  components/pages/dashboard-overview.tsx
  components/pages/home.tsx
  components/pages/invoices.tsx
Labels: frontend

chore: remove mocked components (no longer needed)
  components/dashboard/(async)/__mocks__/cards.tsx
  components/dashboard/(async)/__mocks__/latest-invoices.tsx
  components/dashboard/(async)/__mocks__/revenue-chart.tsx
  components/dashboard/invoices/(async)/__mocks__/pagination-server.tsx
  components/dashboard/invoices/(async)/__mocks__/table.tsx
Labels: frontend

test: add stories for current components
  .storybook/preview.ts
  components/dashboard/(async)/stories/cards.stories.tsx
  components/dashboard/(async)/stories/latest-invoices.stories.tsx
  components/dashboard/(async)/stories/revenue-chart.stories.tsx
  components/dashboard/invoices/(async)/stories/pagination-server.stories.tsx
  components/dashboard/invoices/(async)/stories/table.stories.tsx
  components/dashboard/invoices/stories/buttons.stories.tsx
  components/dashboard/invoices/stories/pagination.stories.tsx
  components/dashboard/invoices/stories/search-invoice.stories.ts
  components/dashboard/invoices/stories/status.stories.tsx
  components/dashboard/stories/nav-link.stories.tsx
  components/dashboard/stories/sidenav.stories.tsx
  components/pages/stories/dashboard-overview.stories.tsx
  components/pages/stories/home.stories.tsx
  components/pages/stories/invoices.stories.tsx
  components/stories/acme-logo.stories.tsx
Labels: frontend

ci: add storybook test, build and deploy to Github Pages
  .github/workflows/ci.yml
Labels: frontend, ci

ci: add Storybook test with coverage
  .husky/pre-push
Labels: frontend

chore: fix typo
  .husky/pre-push
Labels: frontend

test: set coverage thresholds
  vitest.config.ts
Labels: frontend, config

chore: remove (async) directory
  app/dashboard/invoices/page.tsx
Labels: frontend

feat: create Button component
  components/button.tsx
Labels: frontend

feat: add CreateForm component
  components/dashboard/invoices/create-form.tsx
Labels: frontend

feat: add Breadcrumbs component
  components/dashboard/invoices/breadcrumbs.tsx
Labels: frontend

feat: add customers DAL & DTO
  data/customers-dto.ts
  data/customers.ts
  lib/db.ts
Labels: frontend, lib

chore: add mocked customers data
  data/customers-dto.ts
  data/invoices-dto.ts
Labels: frontend

chore: exclude coverage-storybook directory from vitest coverage
  vitest.config.ts
Labels: frontend, config
