Repository fmukhlis/nextjs-dashboard, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, api, lib, tests, assets, ci, config

.github/labeler.yml:

frontend:
  - changed-files:
      - any-glob-to-any-file:
          ["app/**", "components/**", "style/**", "!app/api/**"]

api:
  - changed-files:
      - any-glob-to-any-file: ["app/api/**"]

lib:
  - changed-files:
      - any-glob-to-any-file: ["lib/**"]

tests:
  - changed-files:
      - any-glob-to-any-file:
          ["**/*.test.{js,jsx,ts,tsx}", "**/__snapshots__/**"]

assets:
  - changed-files:
      - any-glob-to-any-file: ["public/**"]

ci:
  - changed-files:
      - any-glob-to-any-file: [".github/**"]

config:
  - changed-files:
      - any-glob-to-any-file: ["**/*.config.{js,ts,mjs}", "**/*rc.{js,ts}"]

feature:
  - head-branch: ["^feature"]

staging:
  - base-branch: ["develop"]

release:
  - base-branch: ["main"]

chore: configure Auth.js
  api/auth/[...nextauth]/route.ts
  auth.ts
  middleware.ts
Labels: frontend

fix: move Auth.js handler into app directory
  app/api/auth/[...nextauth]/route.ts
Labels: frontend, api

feat: add Google Sign In method and protect dashboard route
  auth.ts
Labels: frontend

chore: replace bcrypt with bcryptjs
  package-lock.json
  package.json
Labels: frontend

feat(auth): add Credentials provider
  app/api/auth/[...nextauth]/route.ts
  auth.ts
  components/dashboard/invoices/edit-form.tsx
  components/pages/stories/home.stories.tsx
  features/user/dal/__tests__/query.test.ts
  features/user/dal/query.ts
Labels: frontend, api, tests

feat(auth): support sign out from dashboard sidenav
  components/dashboard/sidenav.tsx
  jest.config.ts
Labels: frontend, config

chore(ui): add Button stories
  components/stories/button.stories.tsx
Labels: frontend

feat(auth): add sign in page
  app/signin/page.tsx
  components/pages/sign-in.tsx
  components/user/login-form.tsx
  features/user/action.ts
  features/user/schema.ts
Labels: frontend

chore(auth): add login form stories and sign in stories
  .storybook/preview.ts
  __mocks__/auth.ts
  components/pages/stories/sign-in.stories.tsx
  components/user/stories/login-form.stories.tsx
Labels: frontend

chore(vitest): adjust coverage include and exclude
  vitest.config.ts
Labels: frontend, config

fix(auth): resolve wrong import in middleware
  middleware.ts
Labels: frontend

test(ui): add play function in sidenav to trigger server action and improve coverage
  components/dashboard/stories/sidenav.stories.tsx
Labels: frontend

test: ignore next/link import lines
  app/dashboard/invoices/[id]/edit/not-found.tsx
  components/dashboard/invoices/breadcrumbs.tsx
  components/dashboard/invoices/buttons.tsx
  components/dashboard/invoices/create-form.tsx
  components/dashboard/invoices/edit-form.tsx
  components/dashboard/invoices/pagination.tsx
  components/dashboard/nav-links.tsx
  components/dashboard/sidenav.tsx
  components/pages/home.tsx
Labels: frontend

fix(auth): use nextAuthResult.signOut in form action
  components/dashboard/sidenav.tsx
Labels: frontend

feat(seo): update favicon and add Open Graph image
  app/favicon.ico
  app/opengraph-image.png
Labels: frontend

feat(seo): add metadata in root layout
  app/layout.tsx
Labels: frontend

feat(seo): set metadata title template in root layout
  app/layout.tsx
Labels: frontend

feat(seo): add metadata in invoices page
  app/dashboard/invoices/page.tsx
  app/layout.tsx
Labels: frontend

feat(seo): add robots.txt
  public/robots.txt
Labels: frontend, assets
