Repository fmukhlis/nextjs-dashboard, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, api, lib, tests, assets, ci, config

feat: add page.tsx for create invoice route
  app/dashboard/invoices/create/page.tsx
  components/pages/create-invoice.tsx
  components/pages/stories/create-invoice.stories.tsx
Labels: frontend

test: add test for customers DAL and DTO
  data/__tests__/customers.test.ts
Labels: frontend, tests

feat: add create invoice action
  components/dashboard/invoices/create-form.tsx
  lib/actions.ts
Labels: frontend, lib

chore: install zod
  package-lock.json
  package.json
Labels: frontend

feat: implement create-invoice functionality
  data/invoices/create-invoice.ts
  lib/__tests__/actions.test.ts
  lib/actions.ts
  types/global.d.ts
  types/invoice.d.ts
Labels: frontend, lib, tests

chore: add stories for create-form.tsx
  components/dashboard/invoices/create-form.tsx
  components/dashboard/invoices/stories/create-form.stories.tsx
Labels: frontend

feat: add edit-invoice functionality
  app/dashboard/invoices/[id]/edit/page.tsx
  components/dashboard/invoices/(async)/table.tsx
  components/dashboard/invoices/buttons.tsx
  components/dashboard/invoices/edit-form.tsx
  components/dashboard/invoices/stories/create-form.stories.tsx
  components/dashboard/invoices/stories/edit-form.stories.tsx
  components/pages/edit-invoice.tsx
  data/__tests__/invoices.test.ts
  data/invoices-dto.ts
  data/invoices.ts
  data/invoices/create-invoice.ts
  data/invoices/schema.ts
  data/invoices/update-invoice.ts
  lib/__tests__/actions.test.ts
  lib/actions.ts
  lib/db.ts
  types/invoice.d.ts
Labels: frontend, lib, tests

chore: add stories for Edit Invoice Page
  components/pages/stories/edit-invoice.stories.tsx
Labels: frontend

chore: fix function naming convention
  data/invoices/update-invoice.ts
  lib/actions.ts
Labels: frontend, lib

feat: add delete-invoice functionality
  components/dashboard/invoices/(async)/table.tsx
  components/dashboard/invoices/buttons.tsx
  data/invoices/delete-invoice.ts
  data/invoices/update-invoice.ts
  lib/__tests__/actions.test.ts
  lib/actions.ts
  types/invoice.d.ts
Labels: frontend, lib, tests

fix: provide required invoiceId prop
  components/dashboard/invoices/stories/buttons.stories.tsx
Labels: frontend

ci: add storybook job dependencies
  .github/workflows/ci.yml
Labels: frontend, ci

chore: comment out storybook jobs
  .github/workflows/ci.yml
Labels: frontend, ci

ci: move jest.mock to top
  .github/workflows/ci.yml
  .prettierignore
  data/__tests__/card.test.ts
  data/__tests__/customers.test.ts
  data/__tests__/invoices.test.ts
  data/__tests__/revenue.test.ts
Labels: frontend, tests, ci

test: fix mock approach
  data/__tests__/card.test.ts
  data/__tests__/customers.test.ts
  data/__tests__/invoices.test.ts
  data/__tests__/revenue.test.ts
  lib/__mocks__/db.ts
Labels: frontend, lib, tests

ci: add public url for msw
  .github/workflows/ci.yml
  .storybook/preview.ts
Labels: frontend, ci

ci: set base path storybook
  .github/workflows/ci.yml
  .storybook/main.ts
  .storybook/preview.ts
Labels: frontend, ci

chore: only set base path when in production
  .storybook/main.ts
Labels: frontend

Update pagination-server.tsx
  components/dashboard/invoices/(async)/pagination-server.tsx
Labels: frontend

chore: fix code format
  components/dashboard/invoices/(async)/pagination-server.tsx
Labels: frontend

Update pagination-server.tsx
  components/dashboard/invoices/(async)/pagination-server.tsx
Labels: frontend

Update pagination-server.tsx
  components/dashboard/invoices/(async)/pagination-server.tsx
Labels: frontend

Update pagination-server.tsx
  components/dashboard/invoices/(async)/pagination-server.tsx
Labels: frontend

Update pagination-server.stories.tsx
  components/dashboard/invoices/(async)/stories/pagination-server.stories.tsx
Labels: frontend

Update pagination-server.tsx
  components/dashboard/invoices/(async)/pagination-server.tsx
Labels: frontend

Update pagination-server.stories.tsx
  components/dashboard/invoices/(async)/stories/pagination-server.stories.tsx
Labels: frontend

Update preview.ts
  .storybook/preview.ts
Labels: frontend

Update preview.ts
  .storybook/preview.ts
Labels: frontend

ci: make storybook base path configurable via env
  .github/workflows/ci.yml
  .storybook/main.ts
Labels: frontend, ci

Update ci.yml
  .github/workflows/ci.yml
Labels: frontend, ci

Update ci.yml
  .github/workflows/ci.yml
Labels: frontend, ci

Update ci.yml
  .github/workflows/ci.yml
Labels: frontend, ci

fix: add <base> tag to resolve asset paths on GH Pages
  .storybook/main.ts
Labels: frontend

fix: put <base> before head in previewHead
  .storybook/main.ts
Labels: frontend

Update main.ts
  .storybook/main.ts
Labels: frontend

feat(invoices): add fallback UI for uncaught exceptions
  app/dashboard/invoices/[id]/edit/not-found.tsx
  app/dashboard/invoices/[id]/edit/page.tsx
  app/dashboard/invoices/error.tsx
  lib/__tests__/actions.test.ts
  lib/actions.ts
Labels: frontend, lib, tests

feat(invoice): add server-side validation for creation and display errors
  components/dashboard/invoices/create-form.tsx
  data/invoices/create-invoice.ts
  data/invoices/schema.ts
  lib/__tests__/actions.test.ts
  lib/actions.ts
Labels: frontend, lib, tests

feat(invoice): add server-side validation for update and display errors
  components/button.tsx
  components/dashboard/invoices/edit-form.tsx
  data/invoices/update-invoice.ts
  lib/__tests__/actions.test.ts
  lib/actions.ts
Labels: frontend, lib, tests

chore: update Next.js to the latest stable version
  package-lock.json
  package.json
Labels: frontend

chore: install Auth.js
  package-lock.json
  package.json
Labels: frontend

.github/labeler.yml:

frontend:
  - changed-files:
      - any-glob-to-any-file:
          ["app/**", "components/**", "style/**", "!app/api/**"]

api:
  - changed-files:
      - any-glob-to-any-file: ["app/api/**"]

lib:
  - changed-files:
      - any-glob-to-any-file: ["lib/**"]

tests:
  - changed-files:
      - any-glob-to-any-file:
          ["**/*.test.{js,jsx,ts,tsx}", "**/__snapshots__/**"]

assets:
  - changed-files:
      - any-glob-to-any-file: ["public/**"]

ci:
  - changed-files:
      - any-glob-to-any-file: [".github/**"]

config:
  - changed-files:
      - any-glob-to-any-file: ["**/*.config.{js,ts,mjs}", "**/*rc.{js,ts}"]

feature:
  - head-branch: ["^feature"]

staging:
  - base-branch: ["develop"]

release:
  - base-branch: ["main"]
