Repository fmukhlis/nextjs-dashboard, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, api, lib, tests, assets, ci, config

chore: add lucide-react dependency
  package-lock.json
  package.json
Labels: frontend

style: replace the homepage with tutorial starter-example template
  app/page.tsx
Labels: frontend

test: update test for HomePage
  app/__tests__/HomePage.test.tsx
  app/__tests__/__snapshots__/HomePage.test.tsx.snap
Labels: frontend, tests

Update ci.yml
  .github/workflows/ci.yml
Labels: frontend, ci

chore: update main and secondary font
  components/ui/fonts.ts
Labels: frontend

feat: add app logo
  components/acme-logo.tsx
Labels: frontend

chore: add hero image assets
  public/hero-desktop.png
  public/hero-mobile.png
Labels: frontend, assets

style: apply updated primary font in RootLayout
  app/layout.tsx
Labels: frontend

feat: add app logo and hero image to HomePage
  app/page.tsx
Labels: frontend

test: add test for AcmeLogo
  app/__tests__/__snapshots__/HomePage.test.tsx.snap
  components/__tests__/acme-logo.test.tsx
Labels: frontend, tests

refactor: move fonts.tsx from components/ui to components
  app/layout.tsx
  app/page.tsx
  components/acme-logo.tsx
  components/fonts.ts
Labels: frontend

feat: add NavLinks component
  components/dashboard/__tests__/nav-links.test.tsx
  components/dashboard/nav-links.tsx
Labels: frontend, tests

feat: add SideNav component
  components/dashboard/__tests__/sidenav.test.tsx
  components/dashboard/sidenav.tsx
Labels: frontend, tests

test: update test for SideNav
  components/dashboard/__tests__/sidenav.test.tsx
Labels: frontend, tests

feat: add DashboardLayout
  app/dashboard/__tests__/DashboardLayout.test.tsx
  app/dashboard/layout.tsx
Labels: frontend, tests

chore: rename HomePage
  app/page.tsx
Labels: frontend

feat: add DashboardPage
  app/dashboard/__tests__/Dashboard.test.tsx
  app/dashboard/page.tsx
Labels: frontend, tests

test: add DashboardPage snapshot file
  app/dashboard/__tests__/__snapshots__/Dashboard.test.tsx.snap
Labels: frontend, tests

test: update test for SideNav
  components/dashboard/__tests__/sidenav.test.tsx
Labels: frontend, tests

fix: add subsets for secondary font
  components/fonts.ts
Labels: frontend

chore: add @neondatabase/serverless, bcrypt, @types/bcrypt and clsx
  package-lock.json
  package.json
Labels: frontend

chore: update dotenv template
  .env.example
Labels: frontend

feat: replace anchor with Link and make NavLinks a client component
  components/dashboard/nav-links.tsx
Labels: frontend

chore: add starter files
  components/dashboard/cards.tsx
  components/dashboard/latest-invoices.tsx
  components/dashboard/revenue-chart.tsx
  lib/data.ts
  lib/definitions.ts
  lib/utils.ts
Labels: frontend, lib

feat: add basic DashboardPage with chart
  app/dashboard/page.tsx
Labels: frontend

chore: add starter files
  public/customers/amy-burns.png
  public/customers/balazs-orban.png
  public/customers/delba-de-oliveira.png
  public/customers/evil-rabbit.png
  public/customers/lee-robinson.png
  public/customers/michael-novotny.png
Labels: frontend, assets

feat: change secondary font
  components/fonts.ts
Labels: frontend

feat: apply updated font to components
  components/dashboard/revenue-chart.tsx
Labels: frontend

chore: uncomment code and adjust some classsNames
  components/dashboard/latest-invoices.tsx
Labels: frontend

feat: use LatestInvoices in DashboardPage
  app/dashboard/page.tsx
Labels: frontend

feat: use Card in DashboardPage to show some metrics
  app/dashboard/page.tsx
Labels: frontend

perf: initiate all data requests in parallel for DashboardPage
  app/dashboard/page.tsx
Labels: frontend

chore: artificially delay response for demo
  lib/data.ts
Labels: frontend, lib

chore: add skeletons for DashboardPage during loading
  components/skeletons.tsx
Labels: frontend

chore: exclude async server components and placeholder components from Jest coverage
  jest.config.ts
Labels: frontend, config

chore: reorganize dashboard folder structure
  app/dashboard/(overview)/(async)/page.tsx
  app/dashboard/(overview)/__tests__/DashboardLayout.test.tsx
  app/dashboard/(overview)/__tests__/__snapshots__/DashboardLayout.test.tsx.snap
  app/dashboard/(overview)/layout.tsx
Labels: frontend, tests

chore: move skeletons.tsx into placeholders folder
  components/placeholders/skeletons.tsx
Labels: frontend

fix: move DashboardLayout to dashboard folder
  app/dashboard/(overview)/__tests__/DashboardLayout.test.tsx
  app/dashboard/__tests__/DashboardLayout.test.tsx
  app/dashboard/__tests__/__snapshots__/DashboardLayout.test.tsx.snap
  app/dashboard/layout.tsx
Labels: frontend, tests

feat: add loading.tsx for overview route group
  app/dashboard/(overview)/__tests__/DashboardOverviewLoading.test.tsx
  app/dashboard/(overview)/__tests__/__snapshots__/DashboardOverviewLoading.test.tsx.snap
  app/dashboard/(overview)/loading.tsx
Labels: frontend, tests

test: remove tests for async server component
  app/dashboard/__tests__/Dashboard.test.tsx
  app/dashboard/__tests__/__snapshots__/Dashboard.test.tsx.snap
Labels: frontend, tests

.github/labeler.yml:

frontend:
  - changed-files:
      - any-glob-to-any-file:
          ["app/**", "components/**", "style/**", "!app/api/**"]

api:
  - changed-files:
      - any-glob-to-any-file: ["app/api/**"]

lib:
  - changed-files:
      - any-glob-to-any-file: ["lib/**"]

tests:
  - changed-files:
      - any-glob-to-any-file:
          ["**/*.test.{js,jsx,ts,tsx}", "**/__snapshots__/**"]

assets:
  - changed-files:
      - any-glob-to-any-file: ["public/**"]

ci:
  - changed-files:
      - any-glob-to-any-file: [".github/**"]

config:
  - changed-files:
      - any-glob-to-any-file: ["**/*.config.{js,ts,mjs}", "**/*rc.{js,ts}"]

feature:
  - head-branch: ["^feature"]

staging:
  - base-branch: ["develop"]

release:
  - base-branch: ["main"]
